<%- include('header') -%>
<div class = "headding">
    <a href="/">Heim</a>
    <a href="/applications">Atvinnuumsókn</a>
  <a href="/login">Innskráning</a>
  <a href="/register">Nýskráning</a>
  </div>
<h1>Atvinnu umsóknir</h1>

<%- formatedHTML %>
<%- include('footer') -%>
