<%- include('header') -%>
<div class="headding">
  <a href="/">Heim</a>
  <a href="/applications">Atvinnuumsókn</a>
  <a href="/login">Innskráning</a>
  <a href="/register">Nýskráning</a>
</div>

<h1>Umsókn móttekin</h1>
<p>Takk fyrir, Við höfum samband</p>
<%- include('footer') -%>
