<%- include('header') -%>
<h1>User</h1>

<p>Sráður in sem
  <%-user.username%>
</p>
<p>Þú ert <%-user.admin ? '' : 'ekki '%> með admin status.
</p>
<p><a href="/logout">Útskráning</a></p>
<p><a href="/admin">Skoða Admin síðu</a></p>

<%- include('footer') -%>
