* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  max-width: 1000px;
}

main {
  margin: 32px;
}

h1 {
  font-size: 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

label {
  padding: 8px;
}

.field_container input {
  padding: 8px;
  width: 100%;
}

.field_container textarea {
  width: 100%;
  padding: 8px;
  resize: vertical;
  min-height: 3em;
}

.field_container .field_block {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

@media (min-width: 800px) {
  .field_container {
    max-width: 80%;
  }

  .field_container .field_block {
    flex-direction: row;
  }

  .field_container label {
    width: 200px;
  }


}


label.jobTitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  size: 1em;
}

.error_input {
  border-color: #855;
  background-color: #fbb;
}

.error_input_radio .radio_block {
  border-color: #855;
  background-color: #fbb;
  padding: 8px;
  margin: 8px;
}


button {
  padding: 8px;
  margin: 8px;
  background: white;
}

.error_list li {
  margin: 8px;
}

p.comment {
  padding: 8px;

  transition: background-color 300ms ease-in;
}

p.comment:hover {
  background-color: #bbb;
}

.button_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content{
  margin-top: 32px;
}
